*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{

	font-family: 'Open Sans', sans-serif;
}
header{
	background: #659999;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: auto;
	padding: 48px;
	width: 100%;
}
img{
	animation: arriba 1s ease-in;
	display: block;
	height: 450px;
	object-fit: cover;
	width: auto;
}
nav{
	position: fixed;
	top: 20px;
	left: 20px;
}
nav a{
	animation: moverIzquierda 1s ease-in;
	color: white;
	text-decoration: none;
	display: inline-block;
}
.container{
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin: auto;
	max-width: 1200px;
	width: 95%;
}
.textos{
	color: white;
	width: 50%;
}
.textos h1{
	font-size: 80px;
	animation: moverDerecha 1s ease-in;
}
.textos h2{
	font-size: 30px;
	animation: moverIzquierda 1s ease-in;
}
.textos a{
	animation: arriba 1s ease-in;
	border:  1px solid white;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-weight: 300;
	margin-top: 30px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	width: 150px;
}
.wave{
	background: #659999;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100;
	width: 100%;
}
@keyframes moverIzquierda{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moverDerecha{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes arriba{
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}