*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{

	font-family: 'Open Sans', sans-serif;
}
header{
	background: #659999;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: auto;
	padding: 48px;
	width: 100%;
}
img{
	animation: arriba 1s ease-in;
	display: block;
	height: 450px;
	object-fit: cover;
	width: auto;
}
nav{
	display: flex;
	justify-content: flex-start;
	position: fixed;
	top: 20px;
	left: 20px;
}
nav a{
	color: white;
	text-decoration: none;
}
.container{
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin: auto;
	max-width: 1200px;
	width: 95%;
}
.dos{
	-webkit-clip-path: circle(150% at 0 0);
	clip-path: circle(150% at 0 0);
}
.enlaces{
	align-items: center;
	background: black;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-around;
	left: 0;
	position: fixed;
	top: 0;
	transition: all 1s ease;
	width: 100%;
	background: #bc4e9c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.icono{
	animation: moverIzquierda 1s ease-in;
	z-index: 100;
}
.textos{
	color: white;
	width: 50%;
}
.textos h1{
	font-size: 80px;
	animation: moverDerecha 1s ease-in;
}
.textos h2{
	font-size: 30px;
	animation: moverIzquierda 1s ease-in;
}
.textos a{
	animation: arriba 1s ease-in;
	border:  1px solid white;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-weight: 300;
	margin-top: 30px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	width: 150px;
}
.uno{
	-webkit-clip-path: circle(0% at 0 0);
	clip-path: circle(0% at 0 0);
}
.wave{
	background: #659999;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100px;
	width: 100%;
}
@keyframes moverIzquierda{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moverDerecha{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes arriba{
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	100%{
		opacity: 1;
		transform: translate(0);
	}
}

@media screen and( max-width: 1000px ){

	img{
		height: 400px;
	}
}
@media screen and( max-width: 800px ){

	img{
		height: 370px;
	}
	.textos h1{
		font-size: 70px;
	}
	.textos h2{
		font-size: 25px;
	}
}
@media screen and( max-width: 700px ){

	img{
		height: 250px;
	}
	.textos h1{
		font-size: 40px;
	}
	.textos h2{
		font-size: 20px;
	}
}
@media screen and( max-width: 450px ){

	.container{
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
	}
	.textos{
		text-align: center;
		width: 100%;
	}
	.textos h1{
		font-size: 60px;
	}
	.textos h2{
		font-size: 25px;
	}
}
@media screen and( max-width: 340px ){

	img{
		height: 160px;
	}
	.textos a{
		width: 120px;
	}
	.textos h1{
		font-size: 35px;
	}
	.textos h2{
		font-size: 15px;
	}
}